@charset "UTF-8";

:root {
    --cor0: #83aeff;
    --cor1: #F1FAEE;
    --cor2: #A8DADC;
    --cor3: #325972;
    --cor4: #142845;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient(to bottom, var(--cor4) ,var(--cor0) );

    }
    section#login {
        width: 80vw;
        height: 290px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 60%;
    }
    
    div#form > p {
        margin: 10px 0px;
    }

}

@media screen and (min-width: 995px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor4) ,var(--cor0) );

    }
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }   

    div#form > h1 {
        font-size: 2em;

    }

    div#form > p {
        font-size: 1.2em;
    }

    div#form > p {
        margin: 20px 0px;
    }

}